# Sample configuration file for nfsmount
#
# $Id$
#

# The device to mount (optional)
#DEVICE=

# The mountpoint (required)
#MOUNTPOINT=/mnt/backup

# Filesystem type (optional)
#FSTYPE=

# Misc options (optional)
#OPTIONS=

